<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DeVinos</title>
    <link rel="stylesheet" href="/CSS/cadastro-style.css" type="text/css" media="all">
</head>
<body>
    <header>
        <a id="button" href="/">Inicio</a>
    </header>
    <main>
        <section id="cadastro">
            <h2>Cadastre um novo vinho</h2>
            <form id="form" action="/create" method="post">

                <label for="nome">Nome do vinho</label>
                <input id="imp nome" type="text" name="nome" required/>

                <label for="pais">País de origem do vinho</label>
                <input id="imp pais" type="text" name="pais" required/>

                <label for="cor">Tipo do vinho</label>
                <input id="imp cor" type="text" name="cor" required/>

                <label for="uva">Tipo de uva</label>
                <input id="imp uva" type="text" name="uva" required/>

                <label for="teor">Teor alcóolico</label>
                <input id="imp teor" type="text" name="teor" required/>

                <label for="classificacao">Classificação do vinho</label>
                <input id="imp classificacao" type="text" name="classificacao" required/>

                <label for="harmonizacao">Harmonização</label>
                <input id="imp harmonizacao" type="text" name="harmonizacao" required/>

                <label for="descricao">Uma breve descrição sobre o vinho</label>
                <input id="imp descricao" type="text" name="descricao" required/>

                <label for="img">Link para uma imagem do vinho</label>
                <input id="imp img" type="link" name="img required"/>

                <button id="btnCadastrar" type="submit">
                    <span>Cadastrar</span>
                </button>
            </form>
        </section>
    </main>
    <footer>
    </footer>
</body>
<script src="js/script.js"></script>
</html>
