<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DeVinos</title>
    <link rel="stylesheet" href="/CSS/index-style.css" type="text/css" media="all">
</head>
<body>
    <header>
           <h1>Sejam bem-vindos ao DeVinos!</h1>
           <a href="/cadastro" target="_self">Adicionar vinho</a>
    </header>
    
    <main>
        <h2>Catalogo:</h2>
        <div>
            <% vinhos.forEach(item => { %>
            <a class="links" href="/detalhes/<%= item.id %>">
                    <img src="/IMG/image.png" alt="Imagem Nao carregou"/>
                    <div>
                    <p>Nome: <%= item.nome%></p>
                    <p>Pais: <%= item.pais%></p>
                    <p>Cor: <%= item.cor%></p>
                    </div>
                </a>
            <% }) %>
        </div>
    </main>

    <footer>
       All rights reserved 
    </footer>
    <script src="/JS/index.js"></script>
</body>
</html>
