@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    font-family: Charmonman, sans-serif;
    font-size: large;
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
}

header a {
    color: inherit;
    text-decoration: none;
    font-size: larger;
    transition: all 0.5s ease-in-out;
}

header a:hover {
    transform: scale(1.2);
}

main {
    padding: 3rem;
}


